<h1>All Ads</h1>
<ul>
<% for ad in @ads %>
  <!--<li><a href="/ads/<%= ad.id %>"><%= ad.name %></a>-->
  <li><%= link_to "#{ad.name}", ad_path(ad.id)  %>
  [<a href="/ads/<%= ad.id %>/delete">#Delete</a>]
  </li>
<% end %>
</ul>